@import 'tailwindcss';
@import './color-modes.css';
@import './layers/base.css';
@import './layers/components.css';

@theme inline {
    /* Brand ----------------------------------------- */
    --color-primary: var(--theme-primary);
    --color-primary-alt: var(--theme-primary-alt);
    --color-secondary: var(--theme-secondary);
    --color-secondary-alt: var(--theme-secondary-alt);

    /* Neutral ---------------------------------------- */
    --color-base: var(--theme-base);
    --color-surface: var(--theme-surface);
    --color-highlight: var(--theme-highlight);
    --color-foreground: var(--theme-foreground);
    --color-foreground-invert: var(--theme-foreground-invert);
    --color-foreground-muted: var(--theme-foreground-muted);

    /* Semantic -------------------------------------- */
    --color-success: var(--theme-success);
    --color-success-alt: var(--theme-success-alt);
    --color-warning: var(--theme-warning);
    --color-warning-alt: var(--theme-warning-alt);
    --color-danger: var(--theme-danger);
    --color-danger-alt: var(--theme-danger-alt);
}

@custom-variant dark (&:where(.dark-mode, .dark-mode *));
